---
layout: "base.njk"
title: "Tous les articles"
description: "Liste de tous les articles sur TechTouch"
permalink: "/content/articles/"
---

<h1>Tous les articles</h1>
<ul>
  {% set articles = collections.all | filterByLayout("article.njk") %}
  {% if articles and articles.length > 0 %}
    {% for post in articles %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        {% if post.data.date %}
          <time datetime="{{ post.data.date | date('YYYY-MM-DD') }}">{{ post.data.date | date('MMMM D, YYYY') }}</time>
        {% else %}
          <span>Date indisponible</span>
        {% endif %}
      </li>
    {% endfor %}
  {% else %}
    <li>Aucun article disponible.</li>
  {% endif %}
</ul>